config = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team\\.config\\depscan.toml"
src_dir_image = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team"
reports_dir = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team\\reports"
csaf = false
profile = "generic"
bom_engine = "auto"
vuln_analyzer = "auto"
reachability_analyzer = "FrameworkReachability"
suggest = true
risk_audit = false
project_type = [ "universal",]
search_purl = "pkg:npm/react@19.2.1"
report_name = "rendered.report"
deep_scan = false
fuzzy_search = false
search_order = "pcu"
non_universal_scan = false
no_vuln_table = false
server_mode = false
server_host = "127.0.0.1"
server_port = "7070"
enable_debug = false
quiet = false
explain = false
explanation_mode = "EndpointsAndReachables"
annotate = false
src_dir = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team"
html_report_file = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team\\reports\\depscan.html"
txt_report_file = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team\\reports\\depscan.txt"
llm_prompt_file = "C:\\Users\\User\\Downloads\\Uplift\\Overlay365\\agent-team\\reports\\depscan-prompts.md"
depscan_version = "6.0.0"
